fastapi
uvicorn
python-dotenv
pydantic[email]
SQLAlchemy
alembic
psycopg2-binary
passlib[bcrypt]
python-jose[cryptography]
python-multipart
requests
httpx
python-slugify
ctransformers
pydantic-settings


